.wpcf7-form {
    .wpcf7-acceptance {
        label {
            position: relative;
            cursor: pointer;
        }
        input[type=checkbox] {
            position: relative;
            visibility: hidden;
            + span {
                &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    border-radius: 5px;
                    height: 18px;
                    width: 18px;
                    top: 0;
                    border: 2px solid #222;
                }
                &:after {
                    display: block;
                    position: absolute;
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    content: "\f00c";
                    border-radius: 100%;
                    height: 10px;
                    width: 10px;
                    top: 2px;
                    left: 5px;
                    visibility: hidden;
                    font-size: 16px;
                    color: white;
                }
            }
            &:checked + span {
                &:before {
                    background: aqua;
                }
                &:after {
                    visibility: visible;
                }
            }
        }
    }
}