#frm_form_2_container {
    background-color: $bg-gray;
    border-radius: 5px;
    color: $black;
    font-family: azo-sans-web, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    padding: 1.5rem 3rem;
    h3.frm_section_spacing {
        border: none;
        color: $black;
        font-family: flood-std,sans-serif;
        font-weight: 400;
        font-size: 2rem;
        font-style: normal;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .form-group.horizontal_radio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .frm_opt_container {
        .frm_radio  {
            label {
                border-radius: 15px;
                border: 1px solid #000;
                display: block;
                font-weight: bold;
                padding: 5px 10px;
                text-align: center;
                text-indent: -5px;
                text-transform: uppercase;
                &:hover {
                    filter: brightness(0.85);
                    cursor: pointer;
                }
                &.active {
                    filter: brightness(0.85);
                }
            }
            input {
                height: 0;
                margin: 0;
                padding: 0;
                width: 0;
            }
            &:nth-child(1) {
                label {
                    background: $yellow;
                    color: $black;
                    border-color: $yellow;
                }
            }
            &:nth-child(2) {
                label {
                    background: $red;
                    color: $white;
                    border-color: $red;
                }
            }
        }
    }
    input, select, textarea {
        appearance: none;
        border-radius: 0;
        box-shadow: unset;
        font-size: 1rem;
    }
    .btn {
        border-radius: 0;
        text-transform: uppercase;
        padding: 10px 15px;
    }
    .btn-secondary {
        color: #fff;
        background-color: $red;
        border-color: $red;
        box-shadow: unset;
    }
}