body #gform_wrapper_1 .gfield_checkbox li input[type=checkbox] {
    opacity: 0;
    position: absolute;

    + label {
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        padding-left: 35px;
        position: relative;

        &:before, &:after {
            content: '';
            left: 0;
            position: absolute;
            -webkit-transition: .2s;
            transition: .2s;
            z-index: 1;
        }
    }

    &:not(:checked) + label:after {
        border: 2px solid #000;
        height: 20px;
        top: 0;
        width: 20px;
    }

    &:checked + label:after {
        background-color: #26a69a;
        border: 2px solid #26a69a;
        border-radius: 2px;
        height: 20px;
        top: 0;
        width: 20px;
        z-index: 0;
    }

    &:not(:checked) + label:before {
        border: 3px solid transparent;
        height: 0;
        left: 6px;
        top: 10px;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        width: 0;
    }

    &:checked + label:before {
        border-bottom: 2px solid #fff;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-top: 2px solid transparent;
        left: 1px;
        height: 13px;
        margin-top: 3px;
        top: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        width: 8px;
    }
}