/* Mobile Nav */
.mobile-navbar {
    background-color: $bg-black;
}
#primary-nav {
    a {
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
    }
}
#quick-links {
    li {
        border-right: 1px solid $white;
        &:last-child {
            border: none;
        }
        a {
            line-height: normal;
            padding: 0 1rem;
            text-transform: uppercase;
        }
    }
}