#frm_form_2_container {
  background-color: #d3d3d3;
  border-radius: 5px;
  color: #000000;
  font-family: azo-sans-web, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  padding: 1.5rem 3rem; }
  #frm_form_2_container h3.frm_section_spacing {
    border: none;
    color: #000000;
    font-family: flood-std,sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    margin-bottom: 0;
    text-transform: uppercase; }
  #frm_form_2_container .form-group.horizontal_radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #frm_form_2_container .frm_opt_container .frm_radio label {
    border-radius: 15px;
    border: 1px solid #000;
    display: block;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-indent: -5px;
    text-transform: uppercase; }
    #frm_form_2_container .frm_opt_container .frm_radio label:hover {
      -webkit-filter: brightness(0.85);
              filter: brightness(0.85);
      cursor: pointer; }
    #frm_form_2_container .frm_opt_container .frm_radio label.active {
      -webkit-filter: brightness(0.85);
              filter: brightness(0.85); }
  #frm_form_2_container .frm_opt_container .frm_radio input {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0; }
  #frm_form_2_container .frm_opt_container .frm_radio:nth-child(1) label {
    background: #ebab00;
    color: #000000;
    border-color: #ebab00; }
  #frm_form_2_container .frm_opt_container .frm_radio:nth-child(2) label {
    background: #cc0000;
    color: #ffffff;
    border-color: #cc0000; }
  #frm_form_2_container input, #frm_form_2_container select, #frm_form_2_container textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    font-size: 1rem; }
  #frm_form_2_container .btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 15px; }
  #frm_form_2_container .btn-secondary {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
    -webkit-box-shadow: unset;
            box-shadow: unset; }

/* Mobile Nav */
.mobile-navbar {
  background-color: #000; }

#primary-nav a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase; }

#quick-links li {
  border-right: 1px solid #ffffff; }
  #quick-links li:last-child {
    border: none; }
  #quick-links li a {
    line-height: normal;
    padding: 0 1rem;
    text-transform: uppercase; }

a {
  color: #000000;
  text-decoration: none; }

.display-5 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0; }

.bg-gray {
  background-color: #d3d3d3; }

.bg-black {
  background-color: #000; }

.btn {
  border-radius: 0;
  text-transform: uppercase; }

.btn-primary {
  background-color: #ebab00;
  border-color: #ebab00; }
  .btn-primary:hover {
    background-color: #ebab00;
    border-color: #ebab00;
    -webkit-filter: brightness(0.85);
            filter: brightness(0.85); }

.btn-secondary {
  background-color: #cc0000;
  border-color: #cc0000; }
  .btn-secondary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
    -webkit-filter: brightness(0.85);
            filter: brightness(0.85); }

h1 {
  font-family: azo-sans-web, sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 4px 4px 1px #000; }
  @media (max-width: 600px) {
    h1 {
      font-size: 2.8rem; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
      font-size: 3.2rem; } }

h1#sub-title {
  position: relative; }
  h1#sub-title:before {
    content: "";
    display: block;
    margin: 0 auto 15px;
    padding-top: 15px;
    width: 75px;
    border-bottom: 7px solid #ebab00; }

.home h1 {
  text-transform: initial; }

h2, h3, h4, h5 {
  font-family: flood-std,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

h2 {
  font-size: 3.75rem; }

body {
  font-family: azo-sans-web, sans-serif;
  font-weight: 400;
  font-style: normal; }

.mb-12 {
  margin-bottom: 12rem !important; }

.home .jumbotron {
  height: 100vh;
  background: transparent; }
  .home .jumbotron video {
    bottom: 0;
    left: 0;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1; }

#district #map-wrapper svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; }

#survey-cta > .container {
  background-image: url("../images/footer-skyline.png");
  background-repeat: no-repeat;
  background-position: right bottom; }
  @media screen and (max-width: 991px) {
    #survey-cta > .container {
      text-align: center; } }
  @media screen and (max-width: 1199px) {
    #survey-cta > .container .display-5 {
      font-size: 2.5rem; } }
  @media screen and (max-width: 991px) {
    #survey-cta > .container .display-5 {
      font-size: 2rem; } }
  @media screen and (max-width: 991px) {
    #survey-cta > .container .btn-secondary {
      margin-bottom: 5rem; } }

.page-template-default #primary > .container {
  background-image: url("../images/footer-skyline.png");
  background-repeat: no-repeat;
  background-position: right bottom; }

.card-columns .card .source {
  font-size: 0.85rem; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 1rem; }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

footer #quick-links a {
  color: #ffffff; }

@media screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 1000px;
    /* New width for default modal */ } }

.modal-dialog .modal-header {
  position: relative;
  border: none; }
  .modal-dialog .modal-header:after {
    bottom: 0;
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 96.5%;
    /* Change this to whatever width you want. */
    position: absolute;
    border-bottom: 1px solid black;
    /* This creates the border. Replace black with whatever color you want. */ }
    @media screen and (max-width: 768px) {
      .modal-dialog .modal-header:after {
        width: 92.5%; } }

.modal-dialog button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1; }

.modal-dialog h5.modal-title {
  font-family: azo-sans-web, sans-serif;
  font-weight: bold;
  margin: 35px 0 0; }

.modal-dialog .district-number {
  color: #cc0000;
  font-family: azo-sans-web, sans-serif;
  margin: 0;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
