// Overrides
a {
    color: $black;
    text-decoration: none;
}
.display-5 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.bg-gray {
    background-color: $bg-gray;
}
.bg-black {
    background-color: $bg-black;
}
.btn {
    border-radius: 0;
    text-transform: uppercase;
}
.btn-primary {
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
        background-color: $yellow;
        border-color: $yellow;
        filter: brightness(0.85);
    }
}
.btn-secondary {
    background-color: $red;
    border-color: $red;
    &:hover {
        background-color: $red;
        border-color: $red;
        filter: brightness(0.85);
    }
}

h1 {
    font-family: azo-sans-web, sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: 4px 4px 1px #000;
    @media (max-width: 600px) {
        font-size: 2.8rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 2.8rem;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 3.2rem;
    }
}
h1#sub-title {
    position: relative;
    &:before {
        content: "";
        display: block;
        margin: 0 auto 15px;
        padding-top: 15px;
        width: 75px;
        border-bottom: 7px solid $yellow;
    }
}
.home {
    h1 {
        text-transform: initial;
    }
}
h2, h3, h4, h5 {
    font-family: flood-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
 }
h2 {
    font-size: 3.75rem;
}
body {
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mb-12 {
    margin-bottom: 12rem !important;
}
// Homepage
.home {
    .jumbotron {
        height: 100vh;
        background: transparent;
        video {
            bottom: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }
}
#district {
    #map-wrapper {
        svg {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }
}
#survey-cta {
    > .container {
        background-image: url('../images/footer-skyline.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
        .display-5 {
            @media screen and (max-width: 1199px ) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 991px) {
                font-size: 2rem;
            }
        }
        .btn-secondary {
            @media screen and (max-width: 991px) {
                margin-bottom: 5rem;
            }
        }
    }
}
// Pages
.page-template-default {
    #primary {
        > .container {
            background-image: url('../images/footer-skyline.png');
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
}
// The Facts
.card-columns {
    .card {
        .source {
            font-size: 0.85rem;
        }
    }
}

// Responsive Youtube
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 1rem;
    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
// Footer
footer {
    #quick-links {
        a {
            color: $white;
        }
    }
}
// District Modals
.modal-dialog {
    @media screen and (min-width: 768px) {
        max-width: 1000px; /* New width for default modal */
    }
    .modal-header {
        position: relative;
        &:after {
            bottom: 0;
            content: ""; /* This is necessary for the pseudo element to work. */
            display: block; /* This will put the pseudo element on its own line. */
            margin: 0 auto; /* This will center the border. */
            width: 96.5%; /* Change this to whatever width you want. */
            position: absolute;
            border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
            @media screen and (max-width: 768px) {
                width: 92.5%;
            }
        }
       border: none;
    }
    button.close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
    h5.modal-title {
        font-family: azo-sans-web, sans-serif;
        font-weight: bold;
        margin: 35px 0 0;
    }
    .district-number {
        color: $red;
        font-family: azo-sans-web, sans-serif;
        margin: 0;
        text-transform: uppercase;
    }
}
