//Background colors
$bg-black: #000;
$bg-gray: #d3d3d3;

// Main Colors
$yellow: #ebab00;
$red: #cc0000;
$black: #000000;
$white: #ffffff;
//font-family: flood-std,sans-serif;
//font-weight: 400;
//font-style: normal;
//
//Azo Sans Bold
//font-family: azo-sans-web, sans-serif;
//font-weight: 700;
//font-style: normal;
//
//Azo Sans Bold Italic
//font-family: azo-sans-web, sans-serif;
//font-weight: 700;
//font-style: italic;
//
//Azo Sans Italic
//font-family: azo-sans-web, sans-serif;
//font-weight: 400;
//font-style: italic;
//
//Azo Sans Regular
//font-family: azo-sans-web, sans-serif;
//font-weight: 400;
//font-style: normal;
//
//Azo Sans Uber Regular
//font-family: azo-sans-uber, sans-serif;
//font-weight: 400;
//font-style: normal;
//